.deck{
    background: linear-gradient(to bottom, rgb(32, 32, 32), rgb(90, 84, 84));
    border: 1px solid #333333;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);

    position: relative;
    width: 150px;
    height: 248px;
}